In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\rotem\OneDrive\Desktop\main\roboticstau\FMG_project\data\movment_2\11_Sep_2023_13_59_movment_2_clean.csv',na_filter=True)

In [3]:
df.head(
)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,M2x,M2y,M2z,M3x,M3y,M3z,M4x,M4y,M4z,sesion_time_stamp
0,2,9,9,8,18,4,3,2,27,1,...,1.637926,0.350656,0.622827,1.369438,0.241632,0.564415,1.353459,0.393032,0.670976,11_Sep_2023_13_59
1,11,5,6,8,15,0,4,1,17,2,...,1.637926,0.350656,0.622827,1.369438,0.241632,0.564415,1.353459,0.393032,0.670976,11_Sep_2023_13_59
2,4,9,10,8,18,0,11,0,21,1,...,1.637969,0.350660,0.622971,1.369652,0.241546,0.564405,1.353544,0.393049,0.670860,11_Sep_2023_13_59
3,3,2,8,6,21,0,2,0,23,9,...,1.637969,0.350660,0.622971,1.369652,0.241546,0.564405,1.353544,0.393049,0.670860,11_Sep_2023_13_59
4,2,4,10,10,19,0,0,1,23,1,...,1.638016,0.350666,0.623147,1.369872,0.241444,0.564395,1.353663,0.392966,0.670769,11_Sep_2023_13_59